<% layout("layouts/boilerplate") %>

<div class="coming-soon-container">
  <h1>" We’re working on something great! "</h1>

  <p>
    At <strong>ElysiumStay</strong>, we’re committed to delivering top-quality
    services tailored to your needs. <br />
    Stay tuned as the exciting updates are on the way.
  </p>

  <a href="mailto:contact@elysiumstay.com">Contact Us</a>
</div>
